body{
	background-image: url('cover.jpg');
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
	position: fixed;
	

}
ul li{
	float: left;
	padding: 20px;
}
ul a{
	color: white;

}
ul a:hover{
	color:green;

}
div{

	width: 300px;
	position: fixed;
	font-family: arial;
	margin: 0px;
	position: fixed;
}
h1{
    position: inherit;
	top: 250px;
	left:600px;
	color: #008080;
	font-size:35px;
}
/* p{
	position: inherit;
	top: 300px;
	left:420px;
	color: #008080;
	font-size:20px;
	
} */
